body{
    font-family: Sora ,sans-serif;
    background-color: rgb(248, 185, 107);
    color: white;
}
img{
  
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0px lightgray;
}
.img{
    text-align: center;
}
header{
    text-align: center; 
    
}
a{
    text-decoration: none;
    margin: 0 10px;
    color: white;

}

p{
    align-items: center;
    margin-top: 20px;
}

/*Page horaire*/ 

table {
    margin: auto;
    text-align: center;
    border-radius: 5px;
    overflow: hidden; /*Ce qui dépasse du tableau par la suite sera cacher avec cette balise*/
}

th, td {
    border: 1px solid rgb(167, 130, 8);
    padding: 10px;
}

td {
    background-color: white;
    color: black;
}

th {
    background-color: rgb(146, 111, 34);
}

/*Page Contact*/ 

form{
    width: 50%;
    margin: auto;
    text-align: right;
}

form fieldset {
    border: 1px solid white;
    border-radius: 5px;
    text-align: left;
    padding: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group input [type="text"]{
    width: 200px;
}

textarea{
    width: 100%;
    resize: none;
}

form button {
    margin-top: 10px;
    padding: 10px;
    color: white;
    background-color: rgb(128, 70, 16);
    border: none;
    border-radius: 25px;
    font-weight: bold;
    opacity: 0.7;
}
a:hover{
    font-size: 1.1rem;
    
}
.test-float::first-letter {
    font-size: 40px;
    float: left;
}





